<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-eagile-zebra" version="1.3.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>eAgileZebra</name>
    <js-module name="eAgileZebra" src="www/eAgileZebra.js">
        <clobbers target="eAgileZebra" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="eAgileZebra">
                <param name="ios-package" value="eAgileZebra" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
            <array>
                <string>com.zebra.scanner.SSI</string>
                <string>com.motorolasolutions.scanner</string>
                <string>com.symbol.rfd8X00_easytext</string>
                <string>com.zebra.rfd8X00_easytext</string>
            </array>
        </config-file>
        <!-- <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>bluetooth-central</string>
                <string>bluetooth-peripheral</string>
                <string>external-accessory</string>
            </array>
        </config-file> -->
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>This app uses bluetooth to connect to Zebra RFID devices.
            </string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription">
            <string>This app uses bluetooth to connect to Zebra RFID devices.
            </string>
        </config-file>
        
        <!--Source files-->
        <source-file src="src/ios/eAgileZebra.m" />
        <header-file src="src/ios/eAgileZebraSdk.h" />

        <!--System framework-->
        <framework src="Foundation.framework" />
        <framework src="ExternalAccessory.framework" />
        <framework src="CoreBluetooth.framework" />
        <framework src="libz.dylib" />

        <!--eAgileZebraSdk framework-->
        <source-file src="src/ios/libeAgileZebraSdk.a" framework="true" />

    </platform>
</plugin>